.my-custom-scrollbar {
	position: relative;
	max-height: 80vh;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}

.name h6 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.title {
	font-size: x-large;
}

.profile-page .page-header {
	height: 220px;
	background-position: center;
}

.page-header {
	background-size: cover;
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	align-items: center;
}

.main-raised {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 30px 30px 0px 30px;
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.main {
	background: #fff;
	position: relative;
	z-index: 3;
	height: 100vh;
}
.profile-page .profile {
	text-align: center;
}
.profile {
	text-align: center;
}
.profile img {
	width: 40%;
}

.img-raised {
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
	border-radius: 50% !important;
}

.img-fluid,
.img-thumbnail {
	max-width: 100%;
	height: auto;
}

.title {
	margin-top: 30px;
	margin-bottom: 25px;
	min-height: 32px;
	color: #3c4858;
	font-weight: 700;
	font-family: 'Roboto Slab', 'Times New Roman', serif;
}

.profile-page .description {
	margin: 1.071rem auto 0;
	max-width: 600px;
	font-weight: 300;
}

.profile-page .profile-tabs {
	margin-top: 4.284rem;
}

.profile-page .profile .name {
	margin-top: -80px;
}

img.rounded {
	border-radius: 6px !important;
}

body {
	background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	background-size: 200% 100%;
	-webkit-animation: move 10s ease infinite;
	animation: move 10s ease infinite;
	transform: translate3d(0, 0, 0);
}